{% if page.comments %}
  <aside id="comments" class="disqus">

    <div class="container">
      <h3><i class="icon icon-comments-o"></i> Comments</h3>
      <div id="disqus_thread"></div>
      <script>

          var disqus_config = function () {
              this.page.url = '{{ site.url }}{{ post.url }}';
              this.page.identifier = '{{ page.id }}';
              this.page.title = '{{ page.title }}';
          };
          
          (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
              var d = document, s = d.createElement('script');
              
              s.src = '//' + '{{ site.disqus_shortname }}'+ '.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
              
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    </div>

  </aside>
{% endif %}