{% if page.comments != false %}
<script src="https://giscus.app/client.js"
        data-repo="jbilinski/jbilinski.github.io-discussion"
        data-repo-id="MDEwOlJlcG9zaXRvcnk0MDUyOTQ5MzI="
        data-category="Post Discussions"
        data-category-id="DIC_kwDOGChPVM4B_A0Q"
        data-mapping="specific"
        data-term="{{ page.id }}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="{{ site.url }}/assets/css/main.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
